
@import "variables";

html {
	margin-left: 0%;
	background-color: #fff;
	color: rgba(0, 0, 0, .7);
}

.body {
    font-family: "Nunito Sans", sans-serif;
	color: #333;
	line-height: 1.15;
}

abbr {
    text-decoration: none !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


.loading-overlay {
    /* these properties force the div to overlay its parent,
    if the parent position is set to 'relative' */
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    /* these properties vertically center text content */
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    background-color: rgba(255, 255, 255, 0.7);
    opacity: 1;
}

/* override tachyon's blue */
.blue {
    color: #01a1dd;
}

.flex-0-0-auto {
    flex: 0 0 auto;
}


/* --------------------- custom div-based buttons --------------------- */
/* used by both buttonGroup.jsx and other ad-hoc standalone buttons */
.simple-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 4px 8px 4px 8px;
    margin-right: 10px;
    line-height: 1.42;
    border-radius: 5px;
    background-color: $button-color !important;
}

.simple-button:hover {
    background-color: $button-color-hover !important;
}

.simple-button-active, .simple-button-active:hover {
    font-weight: bold;
    background-color: #d1d4d64d;
}



/* --------------------- d3-tip styles --------------------- */
/* copied from d3-tip examples: https://github.com/caged/d3-tip */

.d3-tip {
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 4px;
    pointer-events: none;
    width: fit-content;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    position: absolute;
    pointer-events: none;
}

.d3-tip.n:after {
    content: "\25BC";
    margin: -1px 0 0 0;
    top: 100%;
    left: 45%;
    text-align: center;
}


/*
Hacks to set the default style for input placeholder text
note that pseudo-elements can't be listed, so these blocks are duplicates
*/
/* firefox 19+ */
::-moz-placeholder {
    color: rgb(154, 154, 154);
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
}

/* Firefox 18- */
:-moz-placeholder {
    color: rgb(154, 154, 154);
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
}

/* chrome, opera, safari */
::-webkit-input-placeholder {
    color: rgb(154, 154, 154);
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
}

 /* IE 10+ */
 :-ms-input-placeholder {
    color: rgb(154, 154, 154);
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
}


/* --------------------- blueprint overrides --------------------- */

/*  this is necessary for the info icons to be vertically centered */
.bp3-icon {
    display: block !important;
}

/* inline radiogroup labels */
label.bp3-label {
	display: inline-block;
	padding-right: 10px;
}

.bp3-button.bp3-minimal {
	border-radius: 0px;
}

// active menu item in blueprint select dropdown menus
.bp3-menu-item.bp3-intent-primary.bp3-active {
    background-color: #5791b7 !important;
}

.bp3-button-custom {
	/* font-family should match that of .simple-button in profile.css */
	/* font-family: Helvetica;   */
	border-radius: 5px;
	background-image: none !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	background-color: $button-color !important; /* color from bp3-menu-item:hover */
}

.bp3-button-custom:hover {
	background-color: $button-color-hover !important;
}

/* the height of the blueprint sliders is hard-coded to 40px, which is a bit too much */
.bp3-slider {height: 30px !important;}

/* hide the tooltip-like captions below the slider handles */
.bp3-slider-handle .bp3-slider-label {
    visibility: hidden !important;
}

/* hide the tick-like labels below the slider tracks */
.bp3-slider-label {
    visibility: hidden !important;
}

/* change the fill color of the slider tracks */
.bp3-slider-progress.bp3-intent-primary {
    background-color: #ccc !important;
}

/* change the fill color of the slider marker/handle, and disable shadows */
.bp3-slider-handle {
	border-radius: 10px !important;
	background-image: none !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	background-color: #999 !important;
}


/* --------------------- react-table overrides --------------------- */
.ReactTable {
	font-size: 14px;
}

/* eliminate shadow under the header and footer */
.ReactTable .rt-thead.-header {
	box-shadow: none !important;
	border-bottom: 1px solid #eee;
}

.ReactTable .-pagination {
	box-shadow: none !important;
}

.ReactTable .rt-thead {
	font-size: 16px;
	font-weight: bolder;
}

/* turn off horizontal borders between table rows */
.ReactTable .rt-tbody .rt-tr-group {
    /* border: none; */
	cursor: pointer;
}

.ReactTable .rt-tbody .rt-tr-group:hover {
	background-color: #eee;
}

/* table cells */
.ReactTable .rt-tbody .rt-td {
	vertical-align: middle;
	text-align: left;
	border: none;
	min-height: 25px;
}
