

div {
	border: 0px solid #f66;
}

span {
	cursor: pointer;
}

/* --------------------- custom div-based buttons --------------------- */
.simple-button {
	width: auto;
	cursor: pointer;
}

.simple-button:hover {
	background-color: #cfd3d64d;
}

.simple-button-active, .simple-button-active:hover {
	background-color: #7e82854d;
}


/* --------------------- plate-table style --------------------- */
#plate-table-container {
	border-top: 1px solid white;
	border-left: 1px solid white;
}

.plate-table-row {
	width: 100%;
	display: table;
	table-layout: fixed;
}

.plate-table-well {
	cursor: pointer;
	display: table-cell;
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	color: #333;
	background-color: #eee;
}

.plate-table-well:hover {
	opacity: .7;
}

.plate-table-well-header {
	font-size: 10px;
	background: white;
	opacity: .7;
	width: min-content;
	padding: 3px;
	position: absolute;
}

.plate-table-well-content {
	font-size: 12px;
	/* this is a bit of a hack - empirically, a margin-top of 10% approximately vertically centers the content */
	margin-top: 40%; 
	margin-bottom: 30%;
	vertical-align: middle;
	text-align: center;
}


/* --------------------- react-table overrides --------------------- */

/* eliminate shadow under the header and footer */
.dashboard-table .rt-thead.-header {
	box-shadow: none;
	border-bottom: 2px solid #eee;
}

.dashboard-table .-pagination {
	box-shadow: none;
}

.dashboard-table {
	font-size: 12px;
}

.dashboard-table .rt-thead {
	font-size: 13px;
	font-weight: bolder;
}

/* allow line breaks in long headers/cells */
.dashboard-table .rt-th, .dashboard-table .rt-td {
	white-space: normal;
	
	padding: 0px;
}

/* table cells */
.dashboard-table .rt-tbody .rt-td {
	/* margin: auto; */
	vertical-align: middle;
	text-align: left;
	/* turn off borders between cells */
	border: none;
	min-height: 25px;
}

/* turn off horizontal borders between table rows */
.dashboard-table .rt-tbody .rt-tr-group {
	border: none;
	cursor: pointer;
}

.dashboard-table .rt-tbody .rt-tr-group:hover {
	opacity: .7;
}

