
.thumbnail-hover-container {
    position: absolute;
    visibility: hidden;
    pointer-events: none;
    background-color: #ffffff33;
    color: white;
}

.umap-canvas {
    /* border: 1px solid red; */
    background-color: black;
}

.umap-controls-container {
    position: absolute;
    width: 150px;
    background-color: white;
    border-radius: 5px;
    opacity: 0.9;
    z-index: 999;
}

.umap-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1200px;
    background-color: black;
}