
about-page-link a, about-page-link a:visited {
    color: #106ba3;
}

li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.about-item-container {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.about-item-icon-container {
    width: 100px;
    text-align: center;
}

.about-item-icon-container img {
    max-height: 80px;
}

.about-item-screenshot-container {
    width: 250px;
    text-align: center;
}

.about-item-screenshot-container img {
    border-radius: 5px;
    border: 1px solid #999;
}

.about-item-caption {
    width: 70%;
    padding-left: 10px
}