
.about-page-link, .about-page-link:visited {
    color: #106ba3;
}

.about-page-bullets li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.about-item-container {
    display: flex;
    align-items: center;
    padding-right: 20px;
}

.about-item-icon-container {
    width: 100px;
    text-align: center;
}

.about-item-icon-container img {
    max-height: 80px;
}

.about-item-screenshot-container {
    width: 250px;
    text-align: center;
}

.about-item-screenshot-container img {
    cursor: pointer;
}

.about-item-screenshot-container img:hover {
    opacity: 70%;
}

.lightbox-container img {
    max-width: 1000px;
}

.about-item-caption {
    width: 70%;
    padding-left: 10px
}