
.lightbox-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    /* these properties vertically center text content */
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    background-color: rgba(16, 22, 26, 0.7);
    opacity: 1;
}

.thumbnail-grid-container {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, 200px);
}

.thumbnail-container {
    margin: 10px;
    /* width: 150px; */
    height: auto;
    background-color: #eee;
}

.thumbnail-container img {
    width: 100%;
}

.thumbnail-container img:hover {
    opacity: 70%;
}

.thumbnail-container-active,
.thumbnail-container-active:hover {
    border: 1px solid #111;
}

.thumbnail-caption {
    text-align: center;
}

.thumbnail-caption-link {
    cursor: pointer;
}

.thumbnail-caption-link:hover {
    text-decoration: underline;
}