
.localization-row {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: -10px;
}

.localization-grade-container {
    height: 25px;
    width: 32px;
    padding-left: 3px;
    padding-right: 3px;
}

.localization-grade {
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    width: 100%;
}

.localization-grade-1 {
    height: 10px;
    background-color: #ccdeef;
}

.localization-grade-2 {
    height: 14px;
    background-color: #51ade1cc;
}

.localization-grade-3 {
    height: 18px;
    background-color: #00477bcc;
}

