
.tab-header {
    color: #333;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.tab-header:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.tab-header-active {
    background-color: rgba(0, 0, 0, 0.1);
}
