
.navbar-opencell-title {
    font-family: "Lato", sans-serif;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
}

.navbar-search-textbox {
    font-size: 24px;
    font-weight: bold;
    padding: 5px;
    width: 150px;
    text-transform: uppercase;
}

.navbar-container a {
    color: #333;
    text-decoration: none;
    font-size: 20px;
    font-variant: all-small-caps;
    font-weight: 400;
}

.navbar-container a:hover, .navbar-container a:visited:hover {
    color: #999;
    text-decoration: none;
}

.navbar-container a:visited {
    color: #333;
    text-decoration: none;
}
