
body {
    font-family: avenir;
    color: #333
}

div {
    border: 0px solid #f66;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.loading-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: .7;
}

/* override tachyon's blue */
.blue {
    color: #01a1dd;
}

.flex-0-0-auto {
    flex: 0 0 auto;
}


.header-container > div {
    flex: 0 0 auto;
}

.header-opencell-title {
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 2px;
}

.header-target-name {
    font-size: 66px;
}

.header-metadata-item {
    margin-right: 25px;
}

.header-metadata-item abbr {
    text-decoration: none;
    line-height: 1em;
    margin-left: 2px;
    font-size: 14px;
}

.header-metadata-item-label {
    color: #aaa;
}

.header-search-label {
    color: #aaa;
    padding-top: 5px;
}

.header-search-textbox {
    font-size: 24px;
    font-weight: bold;
    padding: 5px;
    width: 150px;
    text-transform: uppercase;
}

/* the header for each main panel/section */
.section-header {
    color: #333;
}


/* --------------------- custom div-based buttons --------------------- */
.simple-button {
    display: inline-block;
	width: auto;
    cursor: pointer;
    padding: 4px;
    margin-right: 10px;
    line-height: 1.42;
    border-bottom: 1px solid #333;
}

.simple-button:hover {
    background-color: #d1d4d622;
}

.simple-button-active, .simple-button-active:hover {
    font-weight: bold;
    background-color: #d1d4d64d;
}

.simple-button-group-label {
    font-size: 14px;
    color: #777;
    display: block;
    padding-right: 5px;
}


/* --------------------- custom sliders --------------------- */
.slider-label {
    width: 40px;
    font-size: 12px;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    background: #aaa; 
    height: 2px;
    width: 100%;
    border-radius: 0px;
    outline: none; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
}
  
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 15px; 
    height: 15px; 
    border-radius: 50%;
    background: #666;
    cursor: pointer; 
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #666; 
    cursor: pointer; 
}



/* --------------------- Volcano plot --------------------- */

.scatterplot-container .tick line {
    stroke: #ccc;
    stroke-width: 1px;
    stroke-dasharray: 2;
}

.scatterplot-container .axis path {
    stroke: #cccccc00 !important;
    stroke-width: 1px;
}

.scatterplot-container .axis text {
    font-size: 12px;
}

.scatter-caption {
    font-size: 12px;
    pointer-events: none;
}

.volcano-fdr-line {
    fill: none;
    stroke: #333;
    stroke-width: 1px;
    stroke-dasharray: 4;
}


.protein-function-container {
    height: 150px;
    overflow: auto;
    line-height: 1.33;
}

/* expression and facs plot containers should have the same margins
in order for the plots to be vertically aligned */
.expression-plot-container, 
.facs-plot-container {
    margin-left: -20px;
    margin-right: 10px;
    margin-top: 10px;
}



/* --------------------- expression scatterplot and FACS plot --------------------- */

.facs-plot-container .tick path, 
.facs-plot-container .axis line,
.expression-plot-container .tick path, 
.expression-plot-container .axis line {
    stroke: #ccc;
    stroke-width: 1px;
    stroke-dasharray: 2;
}

/* the bottom-most horizontal axis line in the FACS plot should be solid and darker */
.facs-plot-container .axis .bottom line {
    stroke: #666;
    stroke-dasharray: none;
}

.facs-plot-container .axis text,
.expression-plot-container .axis text {
    font-size: 14px;
}




/* --------------------- d3-tip styles --------------------- */
/* copied from d3-tip examples: https://github.com/caged/d3-tip */

.d3-tip {
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 4px;
    pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    position: absolute;
    pointer-events: none;
}

.d3-tip.n:after {
    content: "\25BC";
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
    text-align: center;
}



/* eliminate shadow under the header and footer */
.ReactTable .rt-thead.-header {
	box-shadow: none !important;
	border-bottom: 1px solid #eee;
}

.ReactTable .-pagination {
	box-shadow: none !important;
}

.ReactTable {
	font-size: 14px;
}

.ReactTable .rt-thead {
	font-size: 16px;
	font-weight: bolder;
}

  /* turn off horizontal borders between table rows */
.ReactTable .rt-tbody .rt-tr-group {
	cursor: pointer;
}

.ReactTable .rt-tbody .rt-tr-group:hover {
	background-color: #eee;
}



/* --------------------- FOV curator --------------------- */

.thumbnail-grid {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit, 100px);
}

.thumbnail:hover {
    opacity: .7;
}

.thumbnail-active {
    border: 2px solid red;
}