

.navbar-opencell-title {
    font-family: "Helvetica Neue";
    font-size: 40px;
    font-weight: 100;
    letter-spacing: 2px;
}

.navbar-search-textbox {
    font-size: 24px;
    font-weight: bold;
    padding: 5px;
    width: 150px;
    text-transform: uppercase;
}



.clm-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-family: "Helvetica Neue";
}

.clm-target-name {
    font-size: 60px;
    font-weight: 400;
}

.clm-protein-description {
    font-size: 22px;
    font-weight: 200;
}

.clm-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* .clm-item:last-child { border: none; } */


.metadata-item {
    margin-right: 25px;
    max-width: 200px;
}

.metadata-item abbr {
    text-decoration: none;
    line-height: 1em;
    margin-left: 2px;
    font-size: 14px;
}

.metadata-item-label {
    color: #aaa;
    font-family: "Avenir";
}

.overflow-hidden {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



/* 
Default style for input placeholder text
note that pseudo-elements can't be listed, so these blocks are duplicates
*/

/* firefox 19+ */
::-moz-placeholder { 
    color: rgb(154, 154, 154);
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
}

/* Firefox 18- */
:-moz-placeholder { 
    color: rgb(154, 154, 154);
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
}

/* chrome, opera, safari */
::-webkit-input-placeholder {
    color: rgb(154, 154, 154);
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
}

 /* IE 10+ */
 :-ms-input-placeholder {
    color: rgb(154, 154, 154);
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
}


/* the header for each main panel/section */
.section-header {
    color: #333;
}


/* --------------------- custom sliders --------------------- */
.slider-label {
    width: 40px;
    font-size: 12px;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    background: #aaa; 
    height: 2px;
    width: 100%;
    border-radius: 0px;
    outline: none; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
}
  
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 15px; 
    height: 15px; 
    border-radius: 50%;
    background: #666;
    cursor: pointer; 
}

.slider::-moz-range-thumb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #666; 
    cursor: pointer; 
}



/* --------------------- Volcano plot --------------------- */

.scatterplot-container .tick line {
    stroke: #ddd;
    stroke-width: 1px;
    stroke-dasharray: 2;
}

.scatterplot-container .axis path {
    stroke: #cccccc00 !important;
    stroke-width: 1px;
}

.scatterplot-container .axis text {
    font-size: 12px;
}

.bait-dot {
    fill: #01a2ddb2;
}

.sig-hit-dot {
    fill: #f9463ab2;
}

.minor-hit-dot {
    fill: #ff9b89bf;
}

.not-sig-hit-dot {
    fill: #33333334;
}

.scatter-caption {
    font-size: 12px;
    pointer-events: none;
}

.volcano-fdr-path {
    fill: none;
    stroke: #444;
    stroke-width: 1px;
    stroke-dasharray: 6;
}

.core-complex-path {
    fill: #00000020;
    stroke: none;
    stroke-width: 1px;
}

.about-this-protein-container {
    height: 150px;
    overflow: auto;
    line-height: 1.33;
}

/* expression and facs plot containers should have the same margins
in order for the plots to be vertically aligned */
.expression-plot-container, 
.facs-plot-container {
    margin-left: -10px;
    margin-right: 10px;
    margin-top: 10px;
}



/* --------------------- expression scatterplot and FACS plot --------------------- */

.facs-plot-container .tick path, 
.facs-plot-container .axis line,
.expression-plot-container .tick path, 
.expression-plot-container .axis line {
    stroke: #ccc;
    stroke-width: 1px;
    stroke-dasharray: 2;
}

/* the bottom-most horizontal axis line in the FACS plot should be solid and darker */
.facs-plot-container .axis .bottom line {
    stroke: #666;
    stroke-dasharray: none;
}

.facs-plot-container .axis text,
.expression-plot-container .axis text {
    font-size: 14px;
}


/* --------------------- d3-tip styles --------------------- */
/* copied from d3-tip examples: https://github.com/caged/d3-tip */

.d3-tip {
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 4px;
    pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    position: absolute;
    pointer-events: none;
}

.d3-tip.n:after {
    content: "\25BC";
    margin: -1px 0 0 0;
    top: 100%;
    left: 45%;
    text-align: center;
}

