
/* the plot containers should have the same margins
in order for the plots to be vertically aligned */
.expression-plot-container, 
.facs-plot-container {
    margin-left: -10px;
    margin-right: 10px;
    margin-top: 10px;
}

.facs-plot-container .tick path, 
.facs-plot-container .axis line,
.expression-plot-container .tick path, 
.expression-plot-container .axis line {
    stroke: #ccc;
    stroke-width: 1px;
    stroke-dasharray: 2;
}

/* the bottom-most horizontal axis line in the FACS plot should be solid and darker */
.facs-plot-container .axis .bottom line {
    stroke: #666;
    stroke-dasharray: none;
}

.facs-plot-container .axis text,
.expression-plot-container .axis text {
    font-size: 14px;
}

