

html {
	margin-left: 0%;
	background-color: #fff;
	color: rgba(0, 0, 0, .7);
	font-family: 'Lato', verdana;
}

div {
	border: 0px solid #f66;
}

span {
	cursor: pointer;
}

/* --------------------- custom div-based buttons --------------------- */
.simple-button {
	width: auto;
	cursor: pointer;
}

.simple-button:hover {
	background-color: #cfd3d64d;
}

.simple-button-active, .simple-button-active:hover {
	background-color: #7e82854d;
}


/* --------------------- plate-table style --------------------- */
#plate-table-container {
	border-top: 1px solid white;
	border-left: 1px solid white;
}

.plate-table-row {
	width: 100%;
	display: table;
	table-layout: fixed;
}

.plate-table-well {
	cursor: pointer;
	display: table-cell;
	border-bottom: 1px solid white;
	border-right: 1px solid white;
	color: #333;
	background-color: #eee;
}

.plate-table-well:hover {
	opacity: .7;
}

.plate-table-well-header {
	font-size: 10px;
	background: white;
	opacity: .7;
	width: min-content;
	padding: 3px;
	position: absolute;
}

.plate-table-well-content {
	font-size: 12px;
	/* this is a bit of a hack - empirically, a margin-top of 10% approximately vertically centers the content */
	margin-top: 40%; 
	margin-bottom: 30%;
	vertical-align: middle;
	text-align: center;
}


/* --------------------- react-table overrides --------------------- */

/* eliminate shadow under the header and footer */
.ReactTable .rt-thead.-header {
	box-shadow: none;
	border-bottom: 2px solid #eee;
}

.ReactTable .-pagination {
	box-shadow: none;
}

.ReactTable {
	font-size: 12px;
}

.ReactTable .rt-thead {
	font-size: 13px;
	font-weight: bolder;
}

/* allow line breaks in long headers */
.ReactTable .rt-th, .ReactTable .rt-td {
	white-space: normal;
	padding: 0px;
}

.ReactTable .rt-tbody .rt-td {
	/* margin: auto; */
	vertical-align: middle;
	text-align: left;
	/* turn off borders between cells */
	border: none;
}

/* turn off horizontal borders between table rows */
.ReactTable .rt-tbody .rt-tr-group {
	border: none;
	cursor: pointer;
}

.ReactTable .rt-tbody .rt-tr-group:hover {
	opacity: .5;
}


/* --------------------- blueprint overrides --------------------- */
/* inline radiogroup labels */
label.bp3-label {
	display: inline-block;
	padding-right: 10px;
}

.bp3-button.bp3-minimal {
	border-radius: 0px;
}

.bp3-button-custom {
	background-image: none !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	background-color: rgba(209, 212, 214, 0.3) !important; /* color from bp3-menu-item:hover */
}