
html {
	margin-left: 0%;
	background-color: #fff;
	color: rgba(0, 0, 0, .7);
	font-family: 'avenir';
}

a {
    font-size: 1rem;
    color: inherit;
    text-decoration: none;
}

a:hover, a:visited:hover {
    color: #999;
    text-decoration: none;
}

a:visited {
    color: inherit;
    text-decoration: none;
}