
html {
	margin-left: 0%;
	background-color: #fff;
	color: rgba(0, 0, 0, .7);
}

.body {
    font-family: "avenir";
	color: #333;
	line-height: 1.15;
}

a {
    font-size: 1rem;
    color: inherit;
    text-decoration: none;
}

a:hover, a:visited:hover {
    color: #999;
    text-decoration: none;
}

a:visited {
    color: inherit;
    text-decoration: none;
}


/* --------------------- blueprint overrides --------------------- */
/* inline radiogroup labels */
label.bp3-label {
	display: inline-block;
	padding-right: 10px;
}

.bp3-button.bp3-minimal {
	border-radius: 0px;
}

.bp3-button-custom {
	/* font-family should match that of .simple-button in profile.css */
	font-family: Helvetica;  
	border-radius: 5px;
	background-image: none !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	background-color: rgba(209, 212, 214, 0.3) !important; /* color from bp3-menu-item:hover */
}

.bp3-button-custom:hover {
	background-color: rgba(209, 212, 214, 0.7) !important;
}

