
html {
	margin-left: 0%;
	background-color: #fff;
	color: rgba(0, 0, 0, .7);
}

.body {
    font-family: "Nunito Sans", sans-serif;
	color: #333;
	line-height: 1.15;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover, a:visited:hover {
    color: #999;
    text-decoration: none;
}

a:visited {
    color: #333;
    text-decoration: none;
}

abbr {text-decoration: none !important}

div {
    /* border: 1px solid #f66 !important; */
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.loading-overlay {
    /* these properties force the div to overlay its parent,
    if the parent position is set to 'relative' */
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    /* these properties vertically center text content */
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

    background-color: rgba(255, 255, 255, 0.7);
    opacity: 1;
}

/* override tachyon's blue */
.blue {
    color: #01a1dd;
}

.flex-0-0-auto {
    flex: 0 0 auto;
}

.popover-container-large {
    max-width: 500px;
    padding: 10px;
}

.popover-container-small {
    max-width: 300px;
    padding: 10px;
}

.popover-container-small p {
    margin: 0px;
}


/* --------------------- custom div-based buttons --------------------- */
.simple-button {
    cursor: pointer;
    padding: 4px 8px 4px 8px;
    margin-right: 10px;
    line-height: 1.42;
    border-radius: 5px;
    background-color: rgba(209, 212, 214, 0.3) !important;
}

.simple-button:hover {
    background-color :rgba(209, 212, 214, 0.7) !important;
}

.simple-button-active, .simple-button-active:hover {
    font-weight: bold;
    background-color: #d1d4d64d;
}

.simple-button-group-label {
    font-size: 14px;
    color: #777;
}


/* --------------------- blueprint overrides --------------------- */

/*  this is necessary for the info icons to be vertically centered */
.bp3-icon {
    display: block !important;
}

/* inline radiogroup labels */
label.bp3-label {
	display: inline-block;
	padding-right: 10px;
}

.bp3-button.bp3-minimal {
	border-radius: 0px;
}

.bp3-button-custom {
	/* font-family should match that of .simple-button in profile.css */
	/* font-family: Helvetica;   */
	border-radius: 5px;
	background-image: none !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	background-color: rgba(209, 212, 214, 0.3) !important; /* color from bp3-menu-item:hover */
}

.bp3-button-custom:hover {
	background-color: rgba(209, 212, 214, 0.7) !important;
}

/* the height of the blueprint sliders is hard-coded to 40px, which is a bit too much */
.bp3-slider {height: 30px !important;}

/* hide the tooltip-like captions below the slider handles */
.bp3-slider-handle .bp3-slider-label {
    visibility: hidden !important;
}

/* hide the tick-like labels below the slider tracks */
.bp3-slider-label {
    visibility: hidden !important;
}

/* change the fill color of the slider tracks */
.bp3-slider-progress.bp3-intent-primary {
    background-color: #ccc !important;
}

/* change the fill color of the slider marker/handle, and disable shadows */
.bp3-slider-handle {
	border-radius: 10px !important;
	background-image: none !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
	background-color: #999 !important;
}


/* --------------------- react-table overrides --------------------- */
/* eliminate shadow under the header and footer */
.ReactTable .rt-thead.-header {
	box-shadow: none !important;
	border-bottom: 1px solid #eee;
}

.ReactTable .-pagination {
	box-shadow: none !important;
}

.ReactTable {
	font-size: 14px;
}

.ReactTable .rt-thead {
	font-size: 16px;
	font-weight: bolder;
}

  /* turn off horizontal borders between table rows */
.ReactTable .rt-tbody .rt-tr-group {
	cursor: pointer;
}

.ReactTable .rt-tbody .rt-tr-group:hover {
	background-color: #eee;
}
